<nav class="navbar">
    <div class="logo">
      <a routerLink="/">FitnessNET</a>
    </div>
    
    <div class="nav-links">
      <a routerLink="/main" routerLinkActive="active">Main</a>
      <a routerLink="/personal" routerLinkActive="active">Personal</a>
      <a routerLink="/diet" routerLinkActive="active">Diet</a>
      <a routerLink="/training" routerLinkActive="active">Training</a>
    </div>

    <div class="logout">
        <button class="logoutButton"(click)="onLogout()">Logout</button>  
    </div>
</nav>
  