.navbar {
  display: flex;
  justify-content: space-between; /* Distributes space between logo, links, and logout button */
  align-items: center; /* Vertically centers the items */
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  margin-right: 20px; /* Optional, if you want some space between logo and the links */
}

.navbar .nav-links {
  display: flex;
  justify-content: center; /* Centers the navigation links */
  flex-grow: 1; /* Takes up remaining space */
}

.navbar .nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar .nav-links a.active {
  font-weight: bold;
}

.navbar .logout {
  margin-left: 20px; /* Optional: provides space between logout button and links */
}

.navbar .logout .logoutButton {
  background-color: #f44336; /* Red color for logout button */
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar .logout button:hover {
  background-color: #d32f2f;
}
